/* Util */
/* Structure */
body {background-color:#2d2d2d;
      font-size: 10;
      color: white}

.profile {
  position: relative;
  font-family: "Input Mono", sans-serif;
  font-size: 10
}

.profile .tooltip {
  position: absolute;
  padding: 5px;
  visibility: hidden;
  white-space: nowrap;
  pointer-events: none;
}

.profile .background {
  fill: transparent;
   /*fill: #2d2d2d; */
}

.profile .tree rect {
  transition: fill 0.2s ease;
  stroke-width: 1px;
}

.profile .func {
  font-weight: bold;
}

.profile .tooltip {
  background: white;
  color: black;
  border: 1px solid #e1e1e1;
  box-shadow: 1px 1px 0px #e1e1e1;
  -webkit-border-radius: 5px;
}

.profile .tree rect {
  fill: #d98900;
  stroke: white;
}

.profile .tree rect:hover {
  fill: #774f0c;
}

li{
  list-style:none;
}
